<h1>Register Page</h1>

<form action="/Home/Register" method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <button type="submit">Register</button>
</form>
