@model ResetPassword
@{
    ViewData["Title"] = "重置密码";
}
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="ResetPassword" method="post">
    <div class="mb-3 row align-items-center">
        <div class="col-sm-1">
            <label asp-for="Password"></label>
        </div>
        <div class="col-sm-11">
            <input asp-for="Password" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row align-items-center">
        <div class="col-sm-1">
            <label asp-for="ConfirmPassword"></label>
        </div>
        <div class="col-sm-11">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <input type="hidden" asp-for="Email" class="form-control" />
    <input type="hidden" asp-for="Token" class="form-control" />
    <div class="mb-3 row align-items-center">
        <div class="col-sm-11 offset-sm-1">
            <button class="btn btn-primary" type="submit">提交</button>
        </div>
    </div>
</form>
