<!-- 移除 Tag Helper
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
-->
<form method="post">
    <!--第一种方法
    所有的 ASP.NET Core MVC and Razor Pages 表单都会生成 antiforgery tokens.
    如果form表单不是GET的话,自动生成隐藏域antiforgery tokens-->
</form>

<!form method="post">
<!--不使用 Tag Helper -->
</!form>

<form>
    <!--通过显示方式添加 antiforgery token-->
    @Html.AntiForgeryToken()

</form>
<!--移除 Tag Helper-->
