@using Microsoft.Extensions.Options;
@using AspNetCore.DependencyInjection.Models

@inject IOptions<MyJson> settingsOptions
<table class="table table-bordered table-sm table-striped">
    <tr>
        <td>Title</td>
        <td>@settingsOptions.Value.Title</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>@settingsOptions.Value.Version</td>
    </tr>
</table>
