@model PersonAddress
@{
    ViewData["Title"] = "DisplayPerson";
}
<h2>Employee</h2>
<table class="table table-bordered align-middle">
    <tr><th>City:</th><td>@Model.City</td></tr>
    <tr><th>Country:</th><td>@Model.Country</td></tr>
</table>