@{
    ViewData["Title"] = "部门数据";
}
@model IEnumerable<Department>

<div class="container">
    <div class="row mb-3">
        <div class="col-sm-3">
            <a asp-action="Create" class="btn btn-secondary">新增</a>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
            <table class="table table-bordered align-middle">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Department dept in Model)
                    {
                        <tr>
                            <td>@dept.Id</td>
                            <td>@dept.Name</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@dept.Id">
                                    修改
                                </a>
                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@dept.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        删除
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
