@page
@model AspNetCore.HttpRequest.Pages.OperationModel
@{
    ViewData["Title"] = "Operation";
}

<h1>Operation</h1>
<div>OperationIdFromRequestScoped : @Model.OperationIdFromRequestScoped</div>
<div>OperationIdFromHandlerScoped : @Model.OperationIdFromHandlerScoped</div>
