@{
}
<form class="form-horizontal" action="login" role="form" method="post">
    <div class="mb-3 row">
        <label class="col-sm-1 control-label">用户名</label>
        <div class="col-sm-11">
            <input name="username" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-1 control-label">密码</label>
        <div class="col-sm-11">
            <input name="password" type="password" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-11 offset-sm-1">
            <button type="submit" class="btn btn-primary">登录</button>
        </div>
    </div>
</form>
