@model Employee;
<h2>填充并且提交表单</h2>
@{
    if (Model != null)
    {
        <h3 class="p-3 mb-2 bg-success text-white">
            员工详细信息：@Model.Id,@Model.Name,@Model.Salary,@Model.Designation,@Model.Address
        </h3>
    }
}
<form class="form-horizontal" method="post">
    <div class="mb-3 row">
        <label class="col-sm-1 control-label">编号</label>
        <div class="col-sm-11">
            <input class="form-control" name="id" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-1 control-label">姓名</label>
        <div class="col-sm-11">
            <input class="form-control" name="name" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-11 offset-sm-1">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>

