@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<h2>
    Current DateTime & Year:
    @HttpContextAccessor.HttpContext.Session.GetString("CurrentDateTime"),
    @HttpContextAccessor.HttpContext.Session.GetInt32("CurrentYear")

    @{
   var employee = HttpContextAccessor.HttpContext.Session.Get<Employee>("Employee");
   <p>@employee.Name, @employee.Address</p>
}
</h2>