@model JobApplication
@{
    ViewData["Title"] = "Job Application";
}
<style>
    .input-validation-error {
        border-color: red;
    }
</style>
@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Job Application</h2>
@*<div asp-validation-summary="All" class="text-danger"></div>*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form class="m-1 p-1" method="post">
    <div class="mb-3 row">
        <div class="col-sm-1">
            <label asp-for="Name" class="control-label"></label>
        </div>
        <div class="col-sm-11">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1">
            <label asp-for="DOB" class="control-label"></label>
        </div>
        <div class="col-sm-11">
            <input asp-for="DOB" type="text" asp-format="{0:d}" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1">
            <label asp-for="Email" class="control-label"></label>
        </div>
        <div class="col-sm-11">
            <input asp-for="Email" type="text" asp-format="{0:d}" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1">
            <label asp-for="Sex" class="control-label"></label>
        </div>
        <div class="col-sm-1">
            <input asp-for="Sex" type="radio" value="M" class="form-check" />男
        </div>
        <div class="col-sm-1">
            <input asp-for="Sex" type="radio" value="F" class="form-check" />女
        </div>
        <div class="col-sm-9">
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1">
            <label asp-for="Experience" class="control-label"></label>
        </div>
        <div class="col-sm-11">
            <select asp-for="Experience" class="form-control">
                <option value="选择">选择</option>
                <option value="0">新手</option>
                <option value="1">0-1 年</option>
                <option value="2">1-2 年</option>
                <option value="3">2-3 年</option>
                <option value="4">3-4 年</option>
                <option value="5">4-5 年</option>
            </select>
            <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            <input asp-for="TermsAccepted" class="form-label" />
        </div>
        <div class="col-sm-10">
            <label asp-for="TermsAccepted" class="form-check-label">
                我接受条款 & 条件
            </label>
            <span asp-validation-for="TermsAccepted" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-11 offset-sm-1">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>