@model string
@{
    ViewData["Title"] = "Upload File";
}​
<h2>Upload File</h2>
<h3>@Model</h3>​
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>