@model IEnumerable<Product>
@if (ViewData.Count > 0)
{
    <table class="table table-bordered align-middle">
        @foreach (var kvp in ViewData)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@string.Format("{0:C2}",kvp.Value)</td>
            </tr>
        }
    </table>
}
<div class="row mb-3">
    <div class="col-sm">
        <table class="table table-bordered align-middle">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@string.Format("{0:C2}",product.Price)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>