@{
    ViewData["Title"] = "IOptionsSnapshot";
}
@model PositionOptions
<div class="text-center">
    <h1 class="display-4">IOptionsSnapshot</h1>
    <h1 class="display-4">@Model.Name</h1>
    <h1 class="display-4">@Model.Title</h1>
</div>
