@section Top {
    <div class="p-3 mb-2 bg-primary text-white">This is Top</div>
}
@section Bottom {
    <div class="p-3 mb-2 bg-info text-white">This is Bottom</div>
}
@section Script {
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
}
@section Ads {
}
<h2 class="text-primary">TestLayout starts here</h2>
<p class="text-success">This text is coming from child view</p>

@await Html.PartialAsync("TestPartialView", new List<string> {
    "Classic ASP", "ASP.NET Web Forms", "ASP.NET MVC", "ASP.NET Core MVC"
})