@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        @Model <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    }
</div>
