@*@model string []*@
@model List<string>
@{
    ViewData["Title"] = "Places";
}
<h2></h2>
@*@if (@Model.Length == 0)*@
@if (@Model.Count == 0)
{
    <form asp-action="Places" method="post">
        @for (int i = 1; i <= 3; i++)
        {
            <div class="form-group">
                <label>Place @i</label>
                <input name="places" class="form-controller" />
            </div>
        }
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
}
else
{
    <table class="table table-sm table-bordered table-striped">
        @foreach (var place in Model)
        {
            <tr>
                <td>Place</td>
                <td>@place</td>
            </tr>
        }
    </table>
    <a asp-action="Places" class="btn btn-primary">返回</a>
}

