@page
@{
    ViewData["Title"] = "Consumption patterns";
}
<h2>Consumption patterns</h2>
<ul>
    <li><a asp-page="./Basic">Basic usage</a></li>
    <li><a asp-page="./NamedClients">Named Client</a></li>
    <li><a asp-page="./TypedClient">Typed Client</a></li>
</ul>
