@page
@model AspNetCore.HttpRequest.Pages.Consumption.TypedClientModel
@{
    ViewData["Title"] = "Consumption-TypedClient";
}
<h1>Consumption patterns - TypedClient</h1>

@await Component.InvokeAsync("GitHubBranches",new {gitHubBranches=Model.GitHubBranches})
