@{
    ViewData["Title"] = "忘记密码";
}
<div class="container">
    <form asp-action="ForgotPassword" method="post">
        <div class="mb-3 row align-items-center">
            <div class="col-sm-1">
                <label class="control-label">电子邮箱</label>
            </div>
            <div class="col-sm-11">
                <input name="email" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row align-items-center">
            <div class="col-sm-11 offset-sm-1">
                <button class="btn btn-primary" type="submit">发送邮件</button>
            </div>
        </div>
    </form>
</div>
