@model IEnumerable<GitHubBranch>
@{
    ViewData["Title"] = "Branches for Docs Repo";
}
<h1>@ViewData["Title"]</h1>

<ul>
    @foreach (var branch in Model)
    {
        <li>@branch.Name</li>
    }
</ul>

