@{
    ViewData["Title"] = "Home Page";
}
@using AspNetCore.HttpClientWithHttpVerb.Models
@model IndexModel
<div class="row justify-content-center">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Create" method="post">
            <input name="name" placeholder="Something I need to do" class="form-control form-control-sm" />
            <div class="input-group-append">
                <button class="btn btn-primary">Add to List</button>
            </div>
        </form>
    </div>
</div>
@if (Model.CompleteTodoItems.Any())
{
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group mb-2">
                @foreach (var todoItem in Model.CompleteTodoItems)
                {
                    <a asp-action="Edit" asp-route-id="@todoItem.Id" class="list-group-item list-group-item-action">@todoItem.Name</a>
                }
            </ul>
        </div>
    </div>
}
@if (Model.IncompleteTodoItems.Any())
{
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group mb-2">
                @foreach (var todoItem in Model.IncompleteTodoItems)
                {
                    <a asp-action="Edit" asp-route-id="@todoItem.Id" class="list-group-item list-group-item-action">@todoItem.Name</a>
                }
            </ul>
        </div>
    </div>
}
