@page
@model PartialViews.Pages.ArticlesRP.ReadRPModel

<h2>@Model.Article.Title</h2>

@await Html.PartialAsync("../Shared/_AuthorPartialRP", Model.Article.AuthorName)

@Model.Article.PublicationDate

@{
    var index=0;

    foreach(var section in Model.Article.Sections)
    {
          await Html.PartialAsync("_ArticleSectionRP", 
                                section,
                                new ViewDataDictionary(ViewData)
                                {
                                    { "index", index }
                                });

          index++;
    }
}